%nav.navbar{"aria-label" => "main navigation", role: "navigation"}
  .navbar-brand
    %a.navbar-item{href: "/"}
      %img{height: "56", src: asset_path('logo.png'), width: "56"}/
    %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", role: "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item{href: companies_path}
        View All Companies
      - if user_signed_in?
        %a.navbar-item{href: new_company_path}
          Add New Company
      -# .navbar-item.has-dropdown.is-hoverable
      -#   %a.navbar-link
      -#     More
      -#   .navbar-dropdown
      -#     %a.navbar-item
      -#       About
      -#     %a.navbar-item
      -#       Jobs
      -#     %a.navbar-item
      -#       Contact
      -#     %hr.navbar-divider/
      -#     %a.navbar-item
      -#       Report an issue
    .navbar-end
      .navbar-item
        .buttons
        - if user_signed_in?
          %a.navbar-item{href: edit_user_registration_path}
            #{current_user.email}
          %a.button.is-link{'data-method': :delete, href: destroy_user_session_path}
            %strong Sign out
        - else
          %a.button.is-link{href: new_user_registration_path}
            %strong Sign up
          %a.button.is-light{href: new_user_session_path}
            Sign in
