%br
%h3.title.is-3 All Companies

- @companies.each do |company|
  %br
  .card
    .card-content
      .content
        %h5.title.is-5
          = link_to company.name, company
        = company.description
